_pycache_/**
__pycache__/**
models/**
node_modules/**
old/**
routes/**
venv/**
templates/voy.html
templates/upload.html
templates/upcsv.html
templates/tarjetacredito.html
templates/snippet.html
templates/search.html
templates/principal.html
templates/page_not_found.html
templates/menuqr copy.html
templates/menuboissons.html
templates/layout_au.html
templates/galeria2.html
templates/gallery.html
templates/carta2.html
templates/contact_index.html
templates/complete.html
templates/carousel.html
templates/animation_po_menu_ciudad.html
templates/auberge.html
templates/csvimport.html
templates/form1.html
templates/form2.html
config.py
entorno.sh
