<!-- Generacion de la vista de un Menu -->
{%for menu in listaM %}
{% set men = namespace(value=menu.id)%}
{% set count = namespace(value=1) %}
{% set isf = namespace(value=1)%} 
<div class="modal" id="SubModal{{menu.id}}" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="pricing-table">
        <h3 class="pricing-title">{{menu.nombremenu }}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>

        {% if menu.plus !="" or menu.boisson!=""  %}
        <ul class="table-list">
            {% if menu.plus !="" %}
            <li><h5> <p> {{menu.plus}}</p></h5>
            {% endif %}
            {% if menu.boisson !="" %}
            <li> <h5><p> {{menu.boisson}}</p></h5>
            {% endif %}
        </ul>
        {% endif %}
        <ul class="table-list">
        
        {% set cantidad_registros = menuseccion[menu.id]|length %}
        {% for lista in menuseccion[menu.id] %}
                {% if loop.first %}
                    {% set isf.value = lista.idseccion %}         
                        <li><p>{{lista.seccion}}{% if lista.cant!=1 %} au choix {% endif %}</p>
                        
                {%endif %}

                {% if isf.value == lista.idseccion %}
                        <h6> <p>{{lista.nombre}} </p>  </h6>             
                {% else %}
                    {% set isf.value = lista.idseccion %}   
                            <hr>
                        <li><p>{{lista.seccion}}{% if lista.cant!=1 %} au choix {% endif %}</p>
                        <h6> <p>{{lista.nombre}}  </p>  </h6>             
                {% endif %}
                                    
        {% endfor%}
        </ul>    

        <div class="price">{{ "€ {:,.2f}".format(menu['prix']) }}</div>
    </div>
</div>
{% endfor %}

