{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4 p-3">
      <!-- MESSAGE -->
      {% include 'partials/_message.html' %}
    </div>
</div>
<!--class="h-100 p-5 bg-light border rounded-3"-->
<div class="bg-light w-100 text-dark border rounded-3 p-2"  style="--bs-bg-opacity: .55;">
<div class="row">
    <div class="col">
        {% for result in results %}
        {% if result.titulo %}<h2>{{ result.titulo }}</h2>{% endif %}       
        <div> <b>{{ result.texto}}</b></div>
        {% endfor %}

        {% if current_user.is_authenticated %}
        <div> <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"  aria-controls="collapseExample">Editer la page?</a>
        </div>

        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {% for result in results %}
                <form action={{ url_for('formabout', id=result['id'])  }} method="POST" class="border-white"  enctype="multipart/form-data">
                    <input type="text"  name="titulo" size="90%" value="{% if result.titulo %}{{ result.titulo }}{% endif %}" >
                    <br>
                    <textarea name="texto"     style="min-width: 90%" >{{ result.texto}}</textarea>
                    <br>
                    <div class="row">
                        <div class="col-4"><button type="submit" class="btn btn-success btn-sm"  name="accion" value="edit" >Edit</button></div>
                            <div class="col-4"><button type="submit" class="btn btn-danger btn-sm"  name="accion" value="del" >Del</button></div>
                                <div class="col-4"><button type="submit" class="btn btn-warning btn-sm"  name="accion" value="add" >Add</button></div>
                    </div>
                </form>
                {% endfor %}
               
            </div>
        </div>
        {% endif %} 

    </div>
  </div>
  <div class="row">
    <div class="col-7"> </div>
    <div class="col-5"><img src="/static/images/signaturetrans.png" alt="" width="140" height="50"></div>
  </div>



<!--
    <div class="col-md-12">
        <div class="bg-light w-100 text-dark border rounded-3 p-5"  style="--bs-bg-opacity: .55;">
            <div class="col-lg-12 col-xl-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                <h2>le mot du chef</h2>
                <div><b>Le chef <b class="letralogo2">Bruno Narici et son équipe </b>vous accueillent dans son établissement, 
                    du mardi au dimanche midi, afin de vous faire découvrir sa cuisine traditionnelle de terroir composée principalement de produits frais de la région. 
                </div>
                    <div>La carte change au fil des saisons.
                    Le chef vous propose également tous les dimanches midi, cuisses de grenouilles et gratin dauphinois, pensez à réserver. 
                    Nous vous souhaitons un agréable moment à l’Auberge Refleurie.</b>
                </div >
                <div class="row">
                    <div class="col-7"> </div>
                    <div class="col-5"><a name="menu"></a><img src="/static/images/signaturetrans.png" alt="" width="140" height="50"></div>
                </div>
                
            </div>
        </div>
    </div>

-->


<!--
            <h2>{{ titulo }}</h2>
            <p><h4>
                Le chef Bruno Narici et son équipe vous accueillent
                dans son établissement, du mardi au dimanche midi,
                afin de vous faire découvrir sa cuisine traditionnelle de terroir
                composée principalement de produits frais de la région.
                La carte change au fil des saisons.
                Le chef vous propose également tous les dimanches midi,
                cuisses de grenouilles et gratin dauphinois,
                pensez à réserver.
                Nous vous souhaitons un agréable moment à l’Auberge Refleurie.</h4>
                </p>
            <button class="btn btn-outline-secondary" type="button">Example button</button>
        </div>
    </div>
-->
{% endblock %}


