{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4 p-3">
      <!-- MESSAGE -->
      {% include 'partials/_message.html' %}
    </div>
</div>
<!--class="h-100 p-5 bg-light border rounded-3"-->
<div class="bg-light w-100 text-dark border rounded-3 p-2"  style="--bs-bg-opacity: .55;">
<div class="row">
    <div class="col">
        {% for result in results %}
        {% if result.titulo %}<h2>{{ result.titulo }}</h2>{% endif %}       
        <div> <b>{{ result.texto}}</b></div>
        {% endfor %}

        {% if current_user.is_authenticated %}
        <div> <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"  aria-controls="collapseExample">Editer la page?</a>
        </div>

        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {% for result in results %}
                <form action={{ url_for('formabout', id=result['id'])  }} method="POST" class="border-white"  enctype="multipart/form-data">
                    <input type="text"  name="titulo" size="90%" value="{% if result.titulo %}{{ result.titulo }}{% endif %}" >
                    <br>
                    <textarea name="texto"     style="min-width: 90%" >{{ result.texto}}</textarea>
                    <br>
                    {% if loop.index == 1 %}
                    <input type="text" name="nombre_archivo" value="{{ result['image'] }}" >
                    <input type="file" name="archivo" id="fileInput{{ result['id']}}">
                    <button type="submit" class="btn btn-warning btn-sm"  name="accion" value="upload" >Envoyer photo</button>
                    {% endif %}
                    <div class="row">
                        <div class="col-2"><button type="submit" class="btn btn-success btn-sm"  name="accion" value="edit" >Actualiser</button></div>
                        <div class="col-2"><button type="submit" class="btn btn-danger btn-sm"  name="accion" value="del" >efacer</button></div>
                        <div class="col-2"><button type="submit" class="btn btn-warning btn-sm"  name="accion" value="add" >Additioner</button></div>
                        <div class="col-6"></div>
                    </div>
                </form>
                {% endfor %}
               
            </div>
        </div>
        {% endif %} 

    </div>
  </div>
  <div class="row">
    <div class="col-7"> </div>
    <div class="col-5"><img src="/static/images/signaturetrans.png" alt="" width="140" height="50"></div>
  </div>

{% endblock %}


