
    {% extends "layout.html" %}
    {% block title %}  {{ func }}{% endblock %}
    
    {% block head %}
        {{ super() }}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <style >
            .img-thumbnail:hover{
                border-radius:50%;
                -webkit-border-radius:50%;
                box-shadow: 0px 0px 15px 15px #ec731e;
                -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                }
    
            .gallery-item-classic img {           
                padding: 1px;
                background-image: linear-gradient(to bottom, rgba(45, 230, 12, 1) 0%, rgba(45, 230, 12, 1) 100%), linear-gradient(to bottom, rgba(45, 230, 12, 1) 0%, rgb(230, 121, 12) 100%);
                background-clip: content-box, padding-box;
                height: 200px;
                width: 200px;
                object-fit: cover;   
                }
        </style>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
    
    {% block content %}
    <div class="row">
        <div class="col-md-4 p-3">
          <!-- MESSAGE -->
          {% include 'partials/_message.html' %}
        </div>
    </div>
    {% if func == 'upload' %}
    <div>Uploaded
        <img src="{{ url_for('send_image', filename=image_name) }}">
    </div>
    <form id="Accept-form" action="{{ url_for('add_gallery') }}" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="filename" value="{{image_name}}"></input>
        <input class="btn btn-primary " name="btn" value="ok" type="submit" ></input>
        <input class="btn btn-danger " name="btn" value="cancel" type="submit"></input>
       
    </form>
{% endif %}
{% if func == 'gallery' %}

<div class="row isotope-wrap">
    {% for image in images %}
    <div class="col-12 col-sm-12 col-md-3 col-lg-2 isotope-item wow-outer p-1" data-filter="Category 3">
        <div class="wow slideInDown" >                                   
            <div class="gallery-item-classic">
                <img  src="{{ image }}" alt="Imagen {{ loop.index }}" width="200">
                <div class="gallery-item-classic-caption">
                    <a href="{{ image }}" data-lightbox="gallery" data-title="Imagen {{ loop.index }}"  data-lightgallery="item">zoom  </a>
                </div>
                {% if current_user.is_authenticated %}
                <div ><a href=""  data-toggle="modal" data-target="#modalConfirma{{ loop.index }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/></a>
                      </svg>
                </div>
                
                <!-- Modal -->
                                    <div class="modal fade" id="modalConfirma{{ loop.index }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Eliminer l'image</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <form id="Form_Borrar" action="{{ url_for('borrar_gallery', id=loop.index) }}" method="POST" enctype="multipart/form-data">
                                            </div>
                                            <div class="modal-body">
                                                <img  src="{{ image }}" alt="Imagen {{ loop.index }}" width="200">
                                            </div>
                                            <div class="modal-footer">                                           
                                            <button type="submit" value="{{ loop.index }}" class="btn btn-primary">Oui eliminer</button>
                                            </form>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">NON</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                {% endif%}
            </div>
        </div>
    </div>
 {% endfor %}
</div>
{% endif %}
{% if current_user.is_authenticated %}
    {% if func != 'upload' %}
        <div class="row p-0 m-0">
            <p class="text-light">
            <form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                <input class="btn btn-primary" id="file-picker" type="file" name="file" accept="image/*" multiple>
                <div class="text-light" id="msg"></div>
                <button type="submit" class="btn btn-primary" type="submit" value="upload" id="upload-button">Ajouter photos á la Gallerie</button>
            </form>
        </div>
        {% for result in results if result.seccion == 1 %} 
        <div class="row p-0 m-0">
            <p class="text-light">
            <form id="upload-form" action="{{ url_for('formabout', id=result['id'])  }}" method="POST" enctype="multipart/form-data">
                <label for="archivo" class="btn btn-warning" >Photo de fond d'écran</label>
                <input class="btn btn-warning" id="file-picker" type="file"  name="archivo" id="fileInput{{ result['id']}}" accept="image/*" multiple>
                <div class="text-light" id="msg"></div>
                <button type="submit" class="btn btn-warning btn-sm"  name="accion" value="upload" >Envoyer photo pour le fond d'écran</button>
            </form>       
        </div>
        {% endfor %}
    {% endif %}
{% endif %}
{% endblock %}

{% block script %}  
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
{% endblock %}