{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <style type="text/css"> 
        *{
            margin: 0;
            padding: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        body{
          background: #1D1F20;
        }
        
        .wrap{
            width: 1100px;
            margin: 50px auto;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
        }
        
        .tarjeta-wrap{
            margin: 10px;
            -webkit-perspective: 800;
            perspective: 800;
        }
        
        .tarjeta{
            width: 300px;
            height: 350px;
            background: #F29720;
            position: relative;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transition: .7s ease;
            transition: .7s ease;
            -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
            box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
        
        }
        
        .adelante, .atras{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
        
        .adelante{
            width: 100%;
        }
        
        .menu{
            padding: 6em 1.7em 1em 1.7em;
            
        }
        .card-text{
            margin-bottom: 2em;
        }

        .atras{
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
        
            padding: 15px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;        
            text-align: center;
            color: #fff;
            font-family: "open sans";
          background: #F29720;
        }
        
        .tarjeta-wrap:hover .tarjeta{
            -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
            display: flex;
        }
        
        .card4{
            background-image: url("https://myappauberge.s3.us-east-2.amazonaws.com/general/{{ results[2].image }}" );
            background-size: cover;
        }
        
        .card3{
            background-image: url("https://myappauberge.s3.us-east-2.amazonaws.com/general/{{ results[1].image }}"  );
            background-size: cover;
        }
        
        
        
        .card2{
            background-image: url("{{ url_for('static', filename='images/photos/tableaunoir.jpg') }}" );
            background-size: cover;   
            color: #fff;
            font-family: 'Dancing Script', cursive;    
                       
        }
        .card-title{
            padding:0;
        }

        @media screen and (max-width: 1100px) {
            .wrap{
              grid-template-columns: 1fr;
              color: red;
            }
          }

    </style>
{% endblock %}
<!--bg-light p-5 text-dark bg-opacity-25 -->
{% block content %}
<div class="row">
    <div class="col-md-4 p-3">
      <!-- MESSAGE -->
      {% include 'partials/_message.html' %}
    </div>
</div>
<div class="container wrap ">
    <div class="tarjeta-wrap ">
        <div class="tarjeta ">
            <div class="card-body adelante card2 menu">
             {% for registro in registros %}
             <div class="">
                    <h5 class="card-title">{{ registro.titre }} &nbsp; <small>€&nbsp;{{ registro["prix"]|float|round(2) }}</small></h5>
                    <h6 class="card-text"> {{ registro.description }}</h6>
                    <h7></h7>
             </div>     
               
                
                {% endfor %}
            </div>
            <div class="atras">
                <p>
                    {% for result in results if result.seccion == 1 %}            
                    {% if result.titulo %}<h3>{{ result.titulo }}</h3>{% endif %}       
                    <h3> {{ result.texto}}</h3>
                    {% endfor %}
                    
                    {% if current_user.is_authenticated %}
                    <a data-toggle="collapse" href="#collapseparte1" role="button" aria-expanded="false" aria-controls="collapseExample"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                    </svg></a>
                    
                
                {% endif %}</p>
                   
            </div>
        </div><!--  tarjeta -->
        <div class="collapse" id="collapseparte1">
            <div class="card card-body bg-dark bg-opacity-75 ">
                {% for result in results if result.seccion == 1 %}
                <form action={{ url_for('formabout', id=result['id'])  }} method="POST" class="m-0 p-0"  enctype="multipart/form-data">
                    <input type="text"  name="titulo" value="{% if result.titulo %}{{ result.titulo }} {% endif %}" >
                    <br>
                    <textarea name="texto"  style="min-width: 90%" >{{ result.texto}}</textarea>
                    <br>
                    <input type="text" name="nombre_archivo" value="{{ result['image'] }}" >
                    <input type="file" name="archivo" id="fileInput{{ result['id']}}">
                    <button type="submit" class="btn btn-warning btn-sm"  name="accion" value="upload" >Envoyer photo</button>
                    <div class="row">
                        <div class="col-4"><button type="submit" class="btn btn-success btn-sm"  name="accion" value="edit" >Edit</button></div>
                        <div class="col-4"><button type="submit" class="btn btn-danger btn-sm"  name="accion" value="del" >Del</button></div>
                        <div class="col-4"><button type="submit" class="btn btn-warning btn-sm"  name="accion" value="add" >Add</button></div>
                    </div>
                </form>
                {% endfor %}
            </div>
          </div>
    </div> <!--  tarjeta Wrap-->
    <div class="tarjeta-wrap">
        <div class="tarjeta">
             {% for result in results if result.seccion == 2 %}            
            
            <div class="adelante card3">{% if result.titulo %}<h1>{{ result.titulo }}</h1>{% endif %}</div>
            <div class="atras">
                <p> 
                         
                    <h3> {{ result.texto}}</h3>
                    {% endfor %}

                {% if current_user.is_authenticated %}
                    <a data-toggle="collapse" href="#collapseparte2" role="button" aria-expanded="false" aria-controls="collapseExample"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                  </svg></a>
                  
                
                {% endif %}
                </p>
            </div>
        </div> <!-- tarjeta-->
        <div class="collapse" id="collapseparte2">
            <div class="card card-body bg-dark bg-opacity-75 ">
                {% for result in results if result.seccion == 2 %}
                <form action={{ url_for('formabout', id=result['id'])  }} method="POST" class="m-0 p-0"  enctype="multipart/form-data">
                    <input type="text"  name="titulo" value="{% if result.titulo %}{{ result.titulo }} {% endif %}" >
                    <br>
                    <textarea name="texto"  style="min-width: 90%" >{{ result.texto}}</textarea>
                    <br>
                    <input type="text" name="nombre_archivo" value="{{ result['image'] }}" >
                    <input type="file" name="archivo" id="fileInput{{ result['id']}}">
                    <button type="submit" class="btn btn-warning btn-sm"  name="accion" value="upload" >Envoyer photo</button>
                    <div class="row">
                        <div class="col-4"><button type="submit" class="btn btn-success btn-sm"  name="accion" value="edit" >Edit</button></div>
                        <div class="col-4"><button type="submit" class="btn btn-danger btn-sm"  name="accion" value="del" >Del</button></div>
                        <div class="col-4"><button type="submit" class="btn btn-warning btn-sm"  name="accion" value="add" >Add</button></div>
                    </div>
                </form>
                {% endfor %}
            </div>
        </div>
    </div> <!-- tarjeta-wrap -->
    <div class="tarjeta-wrap">
        <div class="tarjeta">
            <div class="adelante card4"></div>
            <div class="atras">
                <p>
                    {% for result in results if result.seccion == 3 %}            
                    {% if result.titulo %}<h3>{{ result.titulo }}</h3>{% endif %}       
                    <h3> {{ result.texto}}</h3>
                    {% endfor %}

                    {% if current_user.is_authenticated %}
                    <a data-toggle="collapse" href="#collapseparte3" role="button" aria-expanded="false" aria-controls="collapseExample"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                  </svg></a></p>              
                {% endif %}
            </div>
        </div> <!-- tarjeta-->
        <div class="collapse" id="collapseparte3">
            <div class="card card-body bg-dark bg-opacity-75 ">
                {% for result in results if result.seccion == 3 %}
                <form action={{ url_for('formabout', id=result['id'])  }} method="POST" class="m-0 p-0"  enctype="multipart/form-data">
                    <input type="text"  name="titulo" value="{% if result.titulo %}{{ result.titulo }} {% endif %}" >
                    <br>
                    <textarea name="texto"  style="min-width: 90%" >{{ result.texto}}</textarea>
                    <br>
                    <input type="text" name="nombre_archivo" value="{{ result['image'] }}" >
                    <input type="file" name="archivo" id="fileInput{{ result['id']}}">
                    <button type="submit" class="btn btn-warning btn-sm"  name="accion" value="upload" >Envoyer photo</button>
                    <div class="row">
                        <div class="col-4"><button type="submit" class="btn btn-success btn-sm"  name="accion" value="edit" >Edit</button></div>
                        <div class="col-4"><button type="submit" class="btn btn-danger btn-sm"  name="accion" value="del" >Del</button></div>
                        <div class="col-4"><button type="submit" class="btn btn-warning btn-sm"  name="accion" value="add" >Add</button></div>
                    </div>
                </form>
                {% endfor %}
            </div>
        </div>

    </div> <!-- tarjeta-wrap -->
</div>

{% endblock %}