{% extends "layout.html" %} 
{% block title %}Search{% endblock %} 
{% block head %} 
{{ super() }}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Libre+Baskerville&display=swap"
  rel="stylesheet"
/>
<style>
  .row {
    font-family: "Libre Baskerville", serif;
  }
</style>
<style type="text/css"></style>
{% endblock %}


{% block content %}
<div class="container">
    {% for result in results %}
    {% if result.titulo %}
    <h1 class="bg-light  text-center text-dark border rounded-3 p-2"  style="--bs-bg-opacity: .55;">
    <!--h1 class="text-white row"-->{{ result.titulo }}</h1>{% endif %}       
    <div class="bg-light w-100 text-dark border rounded-3 p-2"  style="--bs-bg-opacity: .55;"> <b>{{ result.texto}}</b></div>
    {% endfor %}
    

        {% if current_user.is_authenticated %}
        <div> <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"  aria-controls="collapseExample">Editer la page?</a>
        </div>

        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {% for result in results %}
                <form action={{ url_for('formabout', id=result['id'])  }} method="POST" class="border-white"  enctype="multipart/form-data">
                    <input type="text"  name="titulo" size="90%" value="{% if result.titulo %}{{ result.titulo }}{% endif %}" >
                    <br>
                    <textarea name="texto"     style="min-width: 90%" placeholder="Si tu veux faire une presentation de la carte" >{{ result.texto}}</textarea>
                    <br>
                    {% if loop.index == 1 %}
                    <input type="text" name="nombre_archivo" value="{{ result['image'] }}" >
                    <input type="file" name="archivo" id="fileInput{{ result['id']}}">
                    <button type="submit" class="btn btn-warning btn-sm"  name="accion" value="upload" >Envoyer photo</button>
                    {% endif %}
                    <div class="row">
                        <div class="col-2"><button type="submit" class="btn btn-success btn-sm"  name="accion" value="edit" >Actualiser</button></div>
                        <div class="col-2"><button type="submit" class="btn btn-danger btn-sm"  name="accion" value="del" >efacer</button></div>
                        <div class="col-2"><button type="submit" class="btn btn-warning btn-sm"  name="accion" value="add" >Additioner</button></div>
                        <div class="col-6"></div>
                    </div>
                </form>
                {% endfor %}
               
            </div>
        </div>
        {% endif %} 






        {% set count = namespace(value=1) %} {% set vars = {'categorie': 'Entrées'} %}
    <div class="row align-items-center rounded-3 bg-danger m-2">
        <div class="col-12 col-sm-3">
            <img  src="static/images/gallery/chicken-caesar-salad-6sq.jpg" height="65" />
        </div>
        <div class="col-auto text-light col-sm-9"  style="min-width: 14rem">
            <h1>{{ vars['categorie'] }}</h1>
            <p class=""></p>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-start m-1 p-1">           
            {% for row in resultados %} 
                {% if row['ordercat']|int == count.value %}     
                    <div class="col-12 col-md-6 col-lg-4">  

                        <div class="card" style="width: 15rem">
                            {% if row['image'] != 'fondo.png' %}
                                    <img
                                        src="static/images/photos/{{ row['image'] }}"
                                        class="card-img-top"
                                        style="max-width: 100%; height: auto;"
                                        alt="..."
                                    />
                            {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title font-weight-bold text-danger">{{ row['titre'] }}</h5>
                                    <p class="card-text">{{ row['description'] }}</p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item text-end">
                                    <span class="badge fs-5 bg-secondary"
                                        >{{ "€ {:,.2f}".format(row['prix']) }}</span
                                    >
                                    </li>
                                </ul>
                        </div> 

                    </div>  
                {% else %} 
                {% set count.value = count.value + 1 %}
        <!--</div>-->
    <div class="row align-items-center rounded-3 bg-danger m-2">
        <div class="col-12 col-sm-3">
        <img src="static/images/photos/{{ row['categorie'] }}.jpg" height="65" />
        </div>
        <div class="col-auto text-light col-sm-9"> <h1>{{ row['categorie'] }}</h1> <p class=""></p>
        </div>
    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card" style="width: 15rem">
                            {% if row['image'] != 'fondo.png' %}
                                    <img
                                        src="static/images/photos/{{ row['image'] }}"
                                        class="card-img-top"
                                        style="max-width: 100%; height: auto;"
                                        alt="..."
                                    />
                            {% endif %}
                            <div class="card-body">
                            <h5 class="card-title font-weight-bold text-danger">{{ row['titre'] }}</h5>
                            <p class="card-text">{{ row['description'] }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                            <li class="list-group-item text-end">
                                <span class="badge fs-5 bg-secondary"
                                >{{ "€ {:,.2f}".format(row['prix']) }}</span
                                >
                            </li>
                            </ul>
                        </div>
                    </div>
                {% endif %} 
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
