{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"  rel="stylesheet">
     
{% endblock %}
<!--bg-light p-5 text-dark bg-opacity-25 -->
{% block content %}
<div class="row">
    <div class="col-md-4 p-3">
      <!-- MESSAGE -->
      {% include 'partials/_message.html' %}
    </div>
</div>
<div class="container">
    <div class="row row-cols-7 bg-opacity-50">   
        <div class="col text-white bg-black border-white bg-opacity-75 border-right">username</div>
        <div class="col-3  text-white bg-black bg-opacity-75 border-right">email</div>
        <div class="col  text-white bg-black bg-opacity-75 border-right">type 1=Admin</div>
        <div class="col-2  text-white bg-black bg-opacity-75  border-right">telephone</div>
        <div class="col  text-white bg-black bg-opacity-75 border-right  ">instagram</div>
        <div class="col  text-white bg-black bg-opacity-75  border-right">facebook</div>
</div>
    {% for user in users %}
<div class="row row-cols-7">  
    <div ><a href=""  data-toggle="modal" data-target="#modalConfirma{{ loop.index }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/></a>
          </svg>
    </div> <!-- formato https://www.geeksforgeeks.org/python-string-format-method/  -->
    <div class="col bg-white bg-opacity-75 border-right">{{user.username}}</div>
    <div class="col-3 bg-white bg-opacity-75 border-right">{{user.email}}</div>
    <div class="col bg-white bg-opacity-75 border-right">{{user.tipo}}</div>
    <div class="col-2 bg-white bg-opacity-75 border-right">{{user.telefono}}</div>
    <div class="col bg-white bg-opacity-75 border-right">{{user.instagram}}</div>
    <div class="col bg-white bg-opacity-75 border-right">{{user.facebook}}</div>
</div>
    {% endfor %}


{% endblock %}